<h1>Artikel Liste:</h1>

<% @articles.each do |article| %>
  <table id="article_index">
    <tr class="article">
      <td class="pic">
        <%= link_to image_tag("/images/articles/"+article.number+".jpg", :border=>0), article %>
      </td>
      <td class="content">            
        <div class="label">      
          <b> 
            <%= link_to getbrandname(article.brand_id), :action => "show_brand", :id => article.brand_id %> |
            <%= link_to article.label, article %> <br/>
          </b>
          <span class="number">Artikelnummer : <%= article.number %></span> 
        </div>
        <div class="description">
          <%= truncate(article.description, :length => 120) %>
        </div>        
      </td>
      <td class="buy">        
        <span class="price"><%= article.price %> €</span> <br />
        <%= link_to image_tag("/images/buy.png", :border=>0), :action => "add_to_basket", :id => article.brand_id, :quantity => 1 %> 
      </td>      
    </tr>
    <!-- Hier abfrage ob admin -->
    <tr>
      <td class="admin_bar" colspan="3">
        <%= link_to 'Anzeigen', article %>
        <%= link_to 'Editieren', edit_article_path(article) %>
        <%= link_to 'Löschen', article, :confirm => 'Wollen sie wirklich den Artikel "'+article.name+'" löschen?', :method => :delete %>
      </td>
    </tr>
  </table>
  <br />
<% end %>
  
<%= link_to 'Neuer Artikel', new_article_path %>
