<%= form_for(@basket_content) do |f| %>
  <% if @basket_content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@basket_content.errors.count, "error") %> prohibited this basket_content from being saved:</h2>

      <ul>
      <% @basket_content.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :basket_id %><br />
    <%= f.text_field :basket_id %>
  </div>
  <div class="field">
    <%= f.label :article_id %><br />
    <%= f.text_field :article_id %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
